html {
    scroll-behavior: smooth;
}

.page {
    font-family: "Open Sans", serif;
    margin: 0 auto;
    padding-top: 20px;
    font-weight: 400;
    min-height: calc(100vh - 20px);
    height: calc(100% - 20px);
    background: 
        url(../../vendor/assets/icons/background-triangle.svg) right 0 bottom -1px / 100vw auto no-repeat,
        url(../../vendor/assets/images/main-photo.png) right calc((100% - 750px)/2) bottom 60px / 523px 532px no-repeat,
        url(../../vendor/assets/icons/target-icon.svg) right calc((100% - 860px)/2) bottom 60px / auto 615px no-repeat,
        url(../../vendor/assets/icons/background-elements.svg) top 112px left calc((100% - 1318px)/2) / 318px 515px no-repeat,
        linear-gradient(90deg, #8159C6 0%, #6C7CFF 100%);
    max-width: 1225px;
    margin: 0 auto;
    color: white;
}

a {
    color: black;
    font-style: none;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: "Open Sans", serif;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

@media screen and (max-width: 1240px) {
    .page {
        width: calc(100% - 40px);
        padding: 20px 0 41px 0;
        background: 
            url(../../vendor/assets/icons/background-triangle.svg) right 0 bottom -1px / 100vw auto no-repeat,
            url(../../vendor/assets/images/main-photo.png) right calc((100% - 750px)/2) bottom 30px / 470px auto no-repeat,
            url(../../vendor/assets/icons/target-icon.svg) right calc((100% - 860px)/2) bottom 60px / auto 530px no-repeat,
            url(../../vendor/assets/icons/background-elements.svg) top 112px left calc((100% - 1318px)/2) / 318px 515px no-repeat,
            linear-gradient(90deg, #8159C6 0%, #6C7CFF 100%);
    }
}

@media screen and (max-width: 1024px) {
    .page {
        width: calc(100% - 20px);
        background: 
            url(../../vendor/assets/icons/background-triangle.svg) right 0 bottom -1px / 100vw auto no-repeat,
            url(../../vendor/assets/images/main-photo.png) right -250px bottom 30px / 470px auto no-repeat,
            url(../../vendor/assets/icons/target-icon.svg) right -270px bottom 60px / auto 400px no-repeat,
            linear-gradient(90deg, #8159C6 0%, #6C7CFF 100%);
    }
}

@media screen and (max-width: 768px) {
    .page {
        width: calc(100% - 16px);
        height: calc(100% - 20px);
        padding: 13px 0 41px 0;
        background: 
            url(../../vendor/assets/icons/background-triangle.svg) right 0 bottom -1px / 100% auto no-repeat,
            url(../../vendor/assets/images/main-photo.png) right -130px bottom 25px / 236px 240px no-repeat,
            linear-gradient(90deg, #8159C6 0%, #6C7CFF 100%);
    }
}