html {
    scroll-behavior: smooth;
}

.page {
    font-family: "Open Sans", serif;
    margin: 0 auto;
    font-weight: 400;
    height: 100vh;
    background: linear-gradient(90deg, #8159C6 0%, #6C7CFF 100%);
    max-width: 1225px;
    margin: 0 auto;
    color: white;
}
/* 
.main {
} */

a {
    color: black;
    font-style: none;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: "Open Sans", serif;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .main {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: calc(100% - 20px);
    }
}