.info__payment {
    position: relative;
}

@media screen and (max-width: 768px) {
    .info__payment {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
}