.header__stages {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

@media screen and (max-width: 768px) {
    .header__stages {
        order: 2;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 0;
    }
}