.header__login-button {
    padding: 0 25px;
    border: 1px solid #FFDE00;
    background-color: white;
    height: 50px;
    border-radius: 4px;
    color: black;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
}

.header__login-button:hover {
    background-color: #FFDE00;
}

@media screen and (max-width: 1024px) {
    .header__login-button {
        padding: 0 20px;
        height: 40px;
    }
}

@media screen and (max-width: 629px) {
    .header__login-button {
        order: 1;
    }
}